* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "GenshinFont";
  src: url(./fonts/genshin.ttf);
}
@font-face {
  font-family: "HSRFont";
  src: url(./fonts/hsr.ttf);
}
body {
  display: flex;
}

form {
  width: 435px;
  margin: 16px;
  padding: 16px;
  display: table;
  color: white;
}
form .player-info {
  display: flex;
}
form .player-info img {
  width: 20%;
  border: solid white 3px;
  border-radius: 50%;
}
form .player-info p {
  width: 100%;
  height: 100%;
  margin: 8px 16px;
  font-size: 24px;
}
form .form-group {
  min-height: 26px;
  margin: 8px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
form .form-group .image-label {
  position: relative;
  display: flex;
  align-items: flex-start;
}
form .form-group .image-label img {
  width: 25px;
}
form .form-group .image-label label {
  margin: 0 10px;
}
form .form-group .image-label .currentAEXPLine,
form .form-group .image-label .greyAEXPLine,
form .form-group .image-label .currentTEXPLine,
form .form-group .image-label .greyTEXPLine {
  position: absolute;
  height: 3px;
  bottom: 0;
  left: 35px;
  border-radius: 999px;
}
form .form-group .image-label .greyAEXPLine {
  width: 285px;
  background-color: hsl(200, 30%, 30%) !important;
  z-index: 1;
}
form .form-group .image-label .greyTEXPLine {
  width: 285px;
  background-color: hsl(200, 30%, 30%) !important;
  z-index: 1;
}
form .form-group .image-label .currentAEXPLine {
  background-color: hsl(80, 90%, 70%) !important;
  z-index: 2;
}
form .form-group .image-label .currentTEXPLine {
  background-color: hsl(45, 15%, 55%) !important;
  z-index: 2;
}
form .form-group input[type=text] {
  padding: 4px;
  border: none;
  border-bottom: solid white 3px;
  background-color: transparent;
  outline: none;
  text-align: right;
  color: white;
}
form .form-group #currentARLabel,
form .form-group #currentAR,
form .form-group #currentTLLabel,
form .form-group #currentTL {
  font-size: 16px;
}
form .form-group #currentAEXPLabel,
form .form-group #currentAEXP,
form .form-group #currentTEXPLabel,
form .form-group #currentTEXP {
  font-size: 12px;
}
form button {
  min-width: 100px;
  min-height: 33px;
  margin-top: 8px;
  padding: 8px 16px;
  background-color: hsl(225, 75%, 55%);
  border: none;
  border-radius: 5px;
  text-decoration: none;
  outline: none;
  color: white;
  transition: background-color 0.25s;
}
form button:hover {
  cursor: pointer;
  background-color: hsl(225, 75%, 60%);
}
form button:active {
  background-color: hsl(225, 75%, 50%);
}

.EXPTable {
  width: 435px;
  min-height: 55px;
  margin: 16px;
  padding: 16px;
  display: table;
  text-align: center;
  color: white;
}
.EXPTable p {
  font-size: 18px;
}
.EXPTable table {
  width: 100%;
  margin: 16px 0;
  border: 1px solid white;
  border-spacing: 0;
  text-align: center;
}
.EXPTable table tr td {
  padding: 8px 0;
  border: 1px solid white;
}

.calc-group.genshin * {
  font-family: "GenshinFont";
}
.calc-group.genshin form {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%), no-repeat center/cover url(./images/namecardGenshin.png);
}
.calc-group.genshin form .player-info img {
  background-color: hsl(50, 5%, 50%);
}
.calc-group.genshin .EXPTable {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0) 0%), no-repeat top/cover url(./images/tableBGGenshin.png);
}

.calc-group.hsr * {
  font-family: "HSRFont";
}
.calc-group.hsr form {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%), no-repeat center/cover url(./images/namecardHSR.png);
}
.calc-group.hsr form .player-info img {
  background-color: hsl(50, 5%, 50%);
}
.calc-group.hsr .EXPTable {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0) 0%), no-repeat top/cover url(./images/tableBGHSR.png);
}/*# sourceMappingURL=style.css.map */