* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "GenshinFont";
    src: url(./fonts/genshin.ttf);
}

@font-face {
    font-family: "HSRFont";
    src: url(./fonts/hsr.ttf);
}

body {
    display: flex;
}

form {
    width: 435px;
    margin: 16px;
    padding: 16px;
    display: table;
    color: white;

    .player-info {
        display: flex;

        img {
            width: 20%;
            border: solid white 3px;
            border-radius: 50%;
        }

        p {
            width: 100%;
            height: 100%;
            margin: 8px 16px;
            font-size: 24px;
        }
    }

    .form-group {
        margin: 8px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .image-label {
            position: relative;
            display: flex;
            align-items: flex-start;
            img {
                width: 25px;
            }
            label {
                margin: 0 10px;
            }
            .currentAEXPLine,
            .greyAEXPLine,
            .currentTEXPLine,
            .greyTEXPLine {
                position: absolute;
                height: 3px;
                bottom: 0;
                left: 35px;
                border-radius: 999px;
            }
            .greyAEXPLine {
                width: 285px;
                background-color: hsl(200, 30%, 30%) !important;
                z-index: 1;
            }
            .greyTEXPLine {
                width: 285px;
                background-color: hsl(200, 30%, 30%) !important;
                z-index: 1;
            }
            .currentAEXPLine {
                background-color: hsl(80, 90%, 70%) !important;
                z-index: 2;
            }
            .currentTEXPLine {
                background-color: hsl(45, 15%, 55%) !important;
                z-index: 2;
            }
        }

        input[type="text"] {
            padding: 4px;
            border: none;
            border-bottom: solid white 3px;
            background-color: transparent;
            outline: none;
            text-align: right;
            color: white;
        }
        #currentARLabel,
        #currentAR {
            font-size: 16px;
        }
        #currentAEXPLabel,
        #currentAEXP {
            font-size: 12px;
        }
    }

    button {
        margin-top: 8px;
        padding: 8px 16px;
        background-color: hsl(225, 75%, 55%);
        border: none;
        border-radius: 5px;
        text-decoration: none;
        outline: none;
        color: white;
        transition: background-color 0.25s;

        &:hover {
            cursor: pointer;
            background-color: hsl(225, 75%, 60%);
        }
        &:active {
            background-color: hsl(225, 75%, 50%);
        }
    }
}

.EXPTable {
    width: 435px;
    margin: 16px;
    padding: 16px;
    display: table;
    text-align: center;
    color: white;

    p {
        font-size: 18px;
    }

    table {
        width: 100%;
        margin: 16px 0;
        border: 1px solid white;
        border-spacing: 0;
        text-align: center;

        tr td {
            padding: 8px 0;
            border: 1px solid white;
        }
    }
}

.calc-group.genshin {
    * {
        font-family: "GenshinFont";
    }
    form {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%),
            no-repeat center/cover url(./images/namecardGenshin.png);

        .player-info {
            img {
                background-color: hsl(50, 5%, 50%);
            }
        }
    }
    .EXPTable {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0) 0%),
            no-repeat top/cover url(./images/tableBGGenshin.png);
    }
}

.calc-group.hsr {
    * {
        font-family: "HSRFont";
    }
    form {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%),
            no-repeat center/cover url(./images/namecardHSR.png);

        .player-info {
            img {
                background-color: hsl(50, 5%, 50%);
            }
        }
    }
    .EXPTable {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0) 0%),
            no-repeat top/cover url(./images/tableBGHSR.png);
    }
}
